h1 {
	color: #c6cbf5;
	font-family: "Orbitron", sans-serif;
	font-size: 100px;
	font-weight: 1000;
	line-height: 1.2;
	left: 50%;
	margin: 0;
	margin-left: -300px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	top: 200px;
	z-index: 11;
	background: -webkit-linear-gradient(top, #151c60, #c6cbf5 40%, black 40%, #e1a0ce 65%, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: white;
}

h2 {
	color: #d100b1;
	display: block;
	font-family: "Yellowtail", cursive;
	font-size: 110px;
	margin-right: -8em;
	position: absolute;
	text-shadow: 0 0 1px #d100b1, 0 -3px 3px rgba(255, 255, 255, 0.8), 0 3px 3px rgba(0, 0, 0, 0.5), 0 0 15px #d100b1,
		0 0 45px rgba(209, 0, 177, 0.8);
	text-align: center;
	text-decoration: underline;
	text-transform: none;
	-webkit-transform: skew(-10deg) rotate(-10deg);
	transform: skew(-10deg) rotate(-10deg);
	top: 165px;
	width: 100%;
	z-index: 11;
}

.grid {
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0) 0px,
			rgba(54, 226, 248, 0.5) 0%,
			rgba(54, 226, 248, 0.5) 3px,
			rgba(0, 0, 0, 0) 0px
		),
		linear-gradient(
			90deg,
			rgba(0, 0, 0, 0) 0px,
			rgba(54, 226, 248, 0.5) 0%,
			rgba(54, 226, 248, 0.5) 3px,
			rgba(0, 0, 0, 0) 0px
		);
	background-size: 4em 4em, 4em 4em;
	background-color: black;
	border-top: 5px solid #d100b1;
	box-shadow: 0 -25px 45px #d100b1;
	height: 40em;
	-webkit-transform: scale(1.26) rotateX(80deg);
	transform: scale(1.26) rotateX(80deg);
	position: absolute;
	width: 100%;
}
.grid:after {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 95%);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}
.grid:before {
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 30%, rgba(209, 0, 177, 0.5) 90%);
	content: "";
	height: 100%;
	position: absolute;
	width: 100%;
}

.logo-triangle {
	-webkit-animation: dash 6s linear infinite forwards;
	animation: dash 6s linear infinite forwards;
	fill: url(#grad1);
	-webkit-filter: url(#dropshadow);
	filter: url(#dropshadow);
	left: 50%;
	margin-left: -200px;
	position: absolute;
	stroke-dasharray: 1200;
	stroke-dashoffset: 1200;
	top: 6em;
	z-index: 8;
}

.logo-user {
	-webkit-animation: dash 6s linear infinite forwards;
	animation: dash 6s linear infinite forwards;
	fill: url(#grad1);
	-webkit-filter: url(#dropshadow);
	filter: url(#dropshadow);
	left: 50%;
	margin-left: -200px;
	position: absolute;
	stroke-dasharray: 1200;
	stroke-dashoffset: 1200;
	z-index: 8;
}

@-webkit-keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}
