*{
  -webkit-font-smoothing: antialiased;
}
body{
  padding: 0;
  margin: 0;
  color: #fff !important;
  background-image: url("./assets/bg/1.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'LwFont', sans-serif
}
body.sorteios{
  background-image: url("./assets/bg/2.jpg");
}
body.sorteio{
  background-image: url("./assets/bg/3.jpg");
}
body.awards{
  /* background-image: url("./assets/bg/Background-Tela-5-opacity.jpg"); */
}
@font-face {
  font-family: 'LwFont';
  src:  url('./assets/fonts/bebas.ttf');
}
a, p, span, b, h1, h2, h3{
  text-decoration: none !important;
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999 !important;
  background-color: rgba(0, 0, 0, 0.6)
}
.text-center{
  text-align: center !important;
}
.lw-red{
  color: #f00943;
}
.container-center{
  width: 40%;
  max-width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto;
}
.content-center{
  width: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.logo-home{
  width: 70%;
  height: auto;
  margin: 90px auto;
}
.logo-span{
  font-size: 92pt;
  margin-top: -20px;
  padding-bottom: 70px;
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 20px;
  font-size: 16pt;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-red{
  background-color: #f00943;
}
.btn-red:hover{
  color: #f00943 !important;
  background-color: #fff;
}
.btn-rounded{
  border-radius: 50px;
}
.btn-home{
  margin: 0 auto;
  font-size: 2.5em;
  width: 522px !important;
}
.logo-party-home{
  width: 80%;
  height: auto;
  margin: 70px auto;
}
.container{
  width: 100%;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.row{
  width: 100%;
}
.logo-corner{
  width: 150px;
  height: auto;
  margin-top: 30px;
  margin-left: 60px;
}
.sort-content{
  width: 100%;
  margin: 10px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.sort-content-title{
  font-size: 5em;
}
.cards{
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
}
.cards>* {
  flex: 1 1 100px;
}
.card{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.3s;
}
.card-img{
  width: 250px;
  height: 250px;
  border-radius: 5px;
  background-color: #fff;
  display: inline-block;
  position: relative;
}
.card-img img {
  max-height: 100%;
  max-width: 100%;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: all 0.3s;
}
.card-img:hover{
  background-color: #f00943;
}
.card-title{
  color: #fff;
  font-size: 2.8em;
  text-decoration: none !important;
}
.grid{
  display: flex;
  justify-content: space-between;
}
.lw-col{
  width: 33.333%;
  display: flex;
  align-items: center;
}
.detail{
  display: flex;
  flex-direction: column;
  align-content: center;
  z-index: 998 !important;
}
.detail p{
  font-size: 72pt;
}
.sort-message{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.sort-message p{
  font-size: 48pt;
}
.m-20{
  margin-top: -30px;
}
.card-avatar{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: 450px;
  position: relative;
  overflow: hidden;
  border: 8px solid transparent;
}
.card-avatar img{
  width: 100%;
  height: 100%;
  top: -100px;
  border-radius: 6px;
  object-fit: cover !important;
}
.selectedAvatar{
  border-radius: 6px;
  border: 8px solid #fff !important;
  animation: blinker 0.7s linear infinite;
}
.selectedAvatar img{
  border-radius: 0px !important;
}
@keyframes blinker {
  100% { 
    border-color: #f00943; 
  }
}
.zindex{
  z-index: 99999 !important;
}
.user-details{
  width: 100%;
  height: auto;
  bottom: 0 !important;
  left: 0 !important;
  /* background-color: rgba(240, 9, 67, 0.8); */
  background-image: linear-gradient(transparent, #242323);
}
.user-details h1{
  margin-bottom: -10px;
}
.user-details h1, p{
  text-shadow: 1px 1px #000;
}
.bottom-left {
  position: absolute;
  bottom: 20px;
  padding-left: 16px;
}
.avatar-name{
  font-size: 24pt !important;
}
.roulet-section{
  margin-top: 120px;
  width: 100%;
}
.roulet {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
  width: 100%;
}
.roulet-item:first-child .roulet-card {
  margin-left: 0;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}
.roulet-item:not(:first-child){
  margin-left: 10px;
}
.roulet-item{
  position: relative;
  display: block;
  margin-left: -1px;
  line-height: 1.25;
  width: calc(100%/7) !important;
  height: 160px;
}
.roulet-item .active{
  z-index: 999 !important;
  transform: scale(1.3,1.3);
  position: absolute !important;
  border: 5px solid #fff;
}

.roulet-item img{
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover !important;
}
.roulet-span{
  z-index: 1 !important;
}
.timer{
  z-index: 9999 !important;
}
